<div class="post-meta">
  <span class="post-date">
    {% if post.date %}
      {% include translated_date.html date=post.date format=site.date_format lang=fr %}
    {% else %}
      {% include translated_date.html date=page.date format=site.date_format lang=fr %}
    {% endif %}
  </span>
  <span class="post-categories">
    {% for category in include.post.categories %}
      {% comment %}
        Check if this category has a corresponding page before decide
        to link to it. This is an O(n^2) operations so consider removing
        it and linking for all categories (or no categories) if this
        site has a lot of pages and/or a lot of categories.
      {% endcomment %}
      {% assign category_page = false %}
      {% for node in site.pages %}
        {% if node.category == category or node.title == category %}
          {% assign category_page = node %}
        {% endif %}
      {% endfor %}

      {% if category_page %}
        <span class='post-categories-tags'>
          <span class='post-categories-tags-bullet'>&bull;</span>
          <a href="{{ site.baseurl }}{{ category_page.url }}">
            {{ category }}
          </a>
        </span>
      {% else %}
        <span class='post-categories-tags'>
          <span class='post-categories-tags-bullet'>&bull;</span>
          {{ category }}
        </span>
      {% endif %}
    {% endfor %}

    {% for tag in include.post.tags %}
      <span class='post-categories-tags'>
        <span class='post-categories-tags-bullet'>&bull;</span>
        {{ tag }}
      </span>
    {% endfor %}
  </span>
</div>