---
layout: default
---

{% if page.quote %}
  {% if page.quoted %}
    <p class=citation>
    <cite>{{ page.quote }}</cite> -
    {{ page.quoted }}
    </p>
  {% else %}
    <p class=citation>
    <cite>{{ page.quote }}</cite>
    </p>
  {% endif %}
{% endif %}

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }}
    {% include post-tags.html post=page %}
  </div>

  {% include comments.html %}
  {% include related_posts.html %}
</div>
